.about-me-left {
  background-color: #f2f2f2;
  padding: 20px;
  position: relative;
  float: left;
}

.about-me-right {
  background-color: #f2f2f2;
  padding: 20px;
  position: relative;
  float: left;
}

h1 {
  font-weight: bold !important;
}

p {
  color: #666;
  margin-bottom: 10px;
}
.main-image {
  height: 50vh;
  width: 100%;
}

.main-image img {
  /* width: 110%; */
  height: 100%;
  /* object-fit: cover; */
  /* transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem); */
}

.font-size {
  font-size: 1em;
}
